@media (max-width: 905px) {
    #page-home {
        background-position-x: 75vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 750px) {
    #page-home {
        background-position-y: 100px;
    }
}

@media (max-width: 800px) {
    #page-create-point form{
        padding: 16px;
    }

    #page-create-point form h1 {
        text-align: center;
        font-size: 28px;
    }

    #page-create-point form legend h2 {
        font-size: 20px;
        text-align: start;
    }

    #page-create-point form legend span {
        font-size: 12px;
        text-align: end;
    }

    #page-create-point form .items-grid {
        grid-template-columns: 1fr 1fr;
    }

    #page-create-point .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 564px) {
    #page-home header a {
        font-size: 14px;
    }

    #page-home header a span {
        display: none;
    }

    #page-home main h1 {
        font-size: 32px;
    }

    #page-home main p {
        font-size: 14px;
    }

    #page-home main a {
        font-size: 16px;
    }

    #modal .header h1 {
        font-size: 26px;
        margin-left: 25%;
    }

    #modal .header a {
        display: none;
    }

    #modal form label {
        margin-left: 5%;
    }

    #modal form input {
        margin-left: 5%;
    }

    #modal form button {
        margin-right: 5%;
    }
}

/* @media (max-width: 300px) {
    #page-home main h1 {
        font-size: 22px;
    }

    #page-home main p {
        display: none;
    }
} */